<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link href="css/style.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
 <div class="header">
            טופס הצהרת בריאות
        </div>
   <div class="myform">
    <form action="/fill" method="POST" class="form-style-4">
        <table>
            <tr>
                    
                <td><label>תעודת זהות:</label></td>
                <td>

                    <input type="text" name="user" id="name" value=<%=Id%> />
                </td>
            </tr>
            <tr>
                <td><label for="coff">האם אתה משתעל?</label></td>
                    <td><select id="coff" name="coff" value="no" >
                            <option value="no">לא</option>
                            <option value="yes">כן</option>
                            <option value="no">כן אבל בגלל אסטמה או אלרגיה</option>
                        </select>
                    </td>
            </tr>
            <tr>
                <td><label for="heat">האם חום גופך מעל 38 מעלות? או שהיה לך חום השבוע?</label></td>
                    <td><select id="heat" name="heat" value="no" >
                            <option value="no">לא</option>
                            <option value="yes">כן</option>
                        </select>
                    </td>
            </tr>
            <tr>
                <td><label>האם היית במגע קרוב עם חולה קורונה בשבועיים האחרונים?</label></td>
                    <td><select id="contact" name="contact" value="no" >
                            <option value="no">לא</option>
                            <option value="yes">כן</option>
                        </select>
                    </td>
            </tr>
            <tr>
                <td></td>
                <td><label>אני מצהיר שכל הדברים שכתובים בטופס זה נכונים</label>
                <input required type="checkbox" name="confirm" /></td>
            </tr>
        </table>
                <span> </span><input type="submit" value="שלח" />
    </form>
    </div>



</body>
</html>
