<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link href="/css/styles.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
 <div class="header">
            טופס הצהרת בריאות
        </div>
   <div class="myform">
    <form action="/fill" method="POST" class="form-style-4">
        <table>
                    
                <tr><label>תעודת זהות:</label></tr>
            <tr>
                   <input type="text" name="userID" id="name"  value=<%=Id%> readonly/>
                </tr>
             <tr><label>שם מלא:</label></tr>
            <tr>
                   <input type="text" name="fname" id="fname"  value="<%=FName%>" readonly/>
                </tr>
            <tr><label>מקום עבודה</label></tr>
            <tr>
                   <input type="text" name="work" id="fname"  value="Ariel-Hackthon" readonly/>
                </tr>
            <tr><label>אני מצהיר\ה כי ערכתי היום בדיקה למדידת חום גוף בה נמצא כי חום גופי אינו עולה על 38 מעלות צלזיוס.</label></tr>
            <tr>
                <tr><label>אני מצהיר\ה כי איני משתעל וכן אין לי קשיים בנשימה למעט שיעול או קושי בנשימה הנובע ממצב כרוני כגון אסטמה או אלרגיה אחרת.</label></tr>
            <tr>
                <td>
                    <label><input required type="checkbox" name="confirm" />&nbsp; אני מצהיר שכל הדברים שכתובים בטופס זה נכונים</label></td>
            </tr>
        </table>
                <span> </span><input type="submit" value="שלח" />
    </form>
    </div>



</body>
</html>
