<!doctype html>
<html lang="he">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">'
	<meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>our website</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css"  href="/css/styles.css">
  </head>

 <body >
 <span class="border border-primary text-right" >
    <form class="form-signin" action="/fill" method="POST">
      <div class="text-center mb-4">
        <img class="mb-4" src="/photos/logo.jpeg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">טופס הצהרת בריאות</h1>
      </div>

      <div class="form-label-group">
        <input type="text" id="inputFullName" class="form-control" placeholder="שם מלא" required autofocus name="fullName" value="<%=First_Name%>" readonly  />
        <label for="inputFullName">שם מלא</label>
      </div>
	  
	  <div class="form-label-group">
        <input type="text" id="inputId" class="form-control" placeholder="תעודת זהות" required autofocus name="Id" value="<%=Id%>" readonly />
        <label for="inputId">תעודת זהות</label>
      </div>

      <div class="form-label-group">
        <input type="text" id="inputCompany" class="form-control" placeholder="מקום עבודה" required name="company" value="<%=Company%>" readonly />
        <label for="inputCompany">מקום עבודה</label>
      </div>
	  
      <div  class="form-label-group">
	  <ul>
		<li><font size="2">אני מצהיר\ה כי ערכתי היום בדיקה למדידת חום גוף, בה נמצא כי חום גופי אינו עולה על 38 מעלות צלזיוס.</font> </li>
		<li><font size="2">אני מצהיר\ה כי איני משתעל\ת וכן אין לי קשיים בנשימה.</font></li>
	  </ul> 
      </div>
	  
	  
      <div class="form-label-group">
        <input type="datetime" id="inputDate" class="form-control" placeholder="" required autofocus value="<%=monthDateYear%>" readonly />
        <label for="inputDate">תאריך</label>
      </div>
	  
	<div  class="form-label-group">
	  <ul>
             <li><font size="2">למעט שיעול או קושי בנשימה הנובע ממצב כרוני כגון אסטמה או אלרגיה אחרת.</font> </li>
	  </ul> 
	</div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">אשר ושלח</button>
      <p class="mt-5 mb-3 text-muted text-center">&copy; GM-LAB</p>
    </form>
	</span>
  </body>
</html>
